:root {
    --grid-rowNum: 1;
    --grid-colNum: 1;
    --grid-color:  hsl(204, 12%, 67%);
}

.title-name {
    font-family: 'Yellowtail', 'Brush Script MT', cursive, sans-serif;
    font-size: 48px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 355px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(212, 33%, 81%);
    font-size: 20px;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


.tool-and-grid-paper-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-panel {
    height: 650px;
    width: 450px;
    background: #f6f6f6;
    margin-right: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.draw-mode-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-mode-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rowNum), 1fr);
    grid-template-columns: repeat(var(--grid-colNum), 1fr);

    background-color: hsl(0, 0%, 100%);
    box-shadow: 7px 7px 8px 0px hsla(0, 0%, 48%, 0.51);
    width: 650px;
    height: 650px;
}

.grid-cell {
    background-color: hsl(0, 0%, 100%);
    outline: 1px solid var(--grid-color);
}

#grid-size-slider {
    width: 250px;
    height: 10px;
}

